{% extends 'base.html' %}

{% block content %}
    <h1>Goldmine</h1>

<h2>Interesting Filings</h2>

    <div class="container">

        <div class="row">
            <table class="sortable">
                <tr><th>Weblink</th><th>Ticker</th><th>Description</th><th>Date</th></tr>

                {% for item in newsItems %}
                    <tr>
                        <td><a href="{{ item.url }}" target="_blank">Link</a></td>
                        <td>{{ item.ticker }}</td>
                        <td>{{ item.headline }}</td>
                        <td>{{ item.datetime }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>



{% endblock %}


