{% extends 'base.html' %}

{% block content %}
    <h1>Mission Control</h1>
    <ul>
        <li><a href="{% url 'otcNews:otcnews' %}">All OTC News</a></li>
        <li><a href="{% url 'otcNews:otcsecurities' %}">All OTC Securities</a></li>

    </ul>

    <form action="search">
        <input type="search" name="q">
        <button>Search</button>
    </form>

<div class="row"><form action="{% url 'otcNews:send' %}" method="get"></form><button type="submit">Email me the news</button></form> </div>


{% endblock %}