<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div id="hacker-list">
      <input class="search" placeholder="Search" />
  <table>
      <tbody class="list">
    <tr>
       <td class="name">Jonny</td>
       <td class="city">Stockholm</td>
    </tr>
    <tr>
      <td class="name">Jonas</td>
      <td class="city">Berlin</td>
    </tr>
      </tbody>
  </table>
</div>
<script type="text/javascript">
var options = {
    valueNames: [ 'name', 'city' ]
};

var hackerList = new List('hacker-list', options);
</script>


</body>
</html>